
.list .list-item {
    padding: 14px;
    border-bottom: 1px solid #e8e8e8;
}
.list .list-item:active {
    background-color: #f0f0f0;
}
.list .item-logo {
    display: inline-block;
    float: left;
    width: 60px;
    height: 60px;
}
.list .item-desc {
    margin-left: 70px;
    height: 62px;
    color: #333;
}
.list .item-title {
    font-size: 1.6rem;
    margin-bottom: 6px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list .item-info {
    margin-bottom: 6px;
    width: 100%;
    height: 15px;
    line-height: 15px;
}
.list .item-pos {
    font-size: 1.2rem;
    float: left;
    width: 60%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list .item-salary {
    font-size: 1.6rem;
    color: #00b38a;
    float: right;
}
.list .item-info:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.list .item-time {
    font-size: 1rem;
    color: #888;
}